body {
  font-family: 'Kanit', sans-serif;
}

.container {
  width: 100%;
}

h2 {
  text-align: center;
}

header, footer {
  text-align: center;
}

#ponto {
  color: rgb(208, 19, 19);
  font-size: 3rem;
}

.carousel-item img,
#projetos img,
#mosaico img {
  width: 100%;
  height: 100%;
}

#mosaico img:hover {
  width: 300%;
  position: relative;
}

#mosaico .col-md-4 {
  margin-bottom: 24px;
}

#texto {
  margin-left: 15px;
  text-align: center;
}

#linguagens li {
  display: flex;
  flex-direction: column;
  font-style: italic;
  width: 80px;
  margin: 0;
  padding: 0;
}

#linguagens li img {
  padding: 0 20px;
}

#imgProjDesenvolvidos .col-4 img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

#modulos {
  margin-top: 100px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
}

#modulos .col-md-10 {
  margin: auto;
}

.nav-projetos {
  height: 100%;
  justify-content: space-between;
}

.nav-projetos button {
  color: black;
  background-color: #fff;
  border: none;
  margin-bottom: 8px;
  width: 100%;
}

.social-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-links i {
  font-size: 3rem;
  margin: 0 15px;
  color: black;
}

@media screen and (max-width: 640px), (max-height: 640px) {
  body {
    text-align: center;
    justify-content: center;
  }

  .carousel-inner,
  #carousel {
    height: 250px;
    overflow-y: hidden;
    margin-bottom: 20px;
  }

  .container.mosaico {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #texto {
    margin: 0 auto;
  }

  #sobre #mosaico .col-md-4 {
    margin-bottom: 15px;
  }

  #mosaico img {
    width: 48%;
    height: auto;
    margin: 0 auto;
  }

  h5 {
    margin-top: 50px;
  }

  #linguagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #linguagens li {
    width: 80px;
    margin: 8px;
  }

  #imgProjDesenvolvidos .col-4 {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  #imgProjDesenvolvidos .col-4 img {
    width: 100%;
    max-height: none;
  }

  #modulos {
    margin-top: 0px;
  }
}

@media screen and (min-width: 641px) and (max-width: 1023px), (min-height: 641px) and (max-height: 1023px) {
  .container.mosaico,
  #texto,
  #mosaico .col-md-4 {
    width: 100%;
  }

  #mosaico img:hover {
    width: 120%;
  }

  #imgProjDesenvolvidos .col-4 img {
    max-height: none;
  }

  #modulos {
    margin-top: 30px auto 10px auto;
  }
}
